.Conteiner-listItem{
    font-size: 1.2rem;
    font-weight: bold; 
    color: #333; 
    line-height: 1.2; 
    background-color: #f9f9f9;
}
.Conteiner-listItem #title{
    margin: auto; 
    padding: 0.5rem;
}