
.conteiner-datelle{
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center;
    margin: 0 auto; 
    background-color: #f9f9f9;
    padding: 5rem;
    gap: 1rem;
}

.conteiner-datelle .fondo .product-detail {
    display: flex;
    border: 0.1rem solid black;
    border-radius: 0.5rem; 
    padding: 1rem; 
    background-color: #dedede;
    width: 37.5rem;
    justify-content: center;
    align-items: center;
}

.conteiner-datelle .fondo .product-detail #product-image{
    border-radius: 0.3125rem;
    display:inline-block;
    margin-right: 1.25rem; 
    text-align: center;
}
.conteiner-datelle .fondo .product-detail #product-image img {
    width: 18rem;
    height: 15rem;
}
.product-info {
    flex: 1;
}

.conteiner-datelle .fondo .product-detail .product-info #product-title {
    font-size: 2rem;
    margin: 0;
    color: #000000;
}

.conteiner-datelle .fondo .product-detail .product-info #product-description {
    font-size: 1rem;
    color: #666;
    margin: 0.3125rem 0; 
}

.conteiner-datelle .fondo .product-detail .product-info #product-price {
    font-size: 1.5rem;
    color: #007bff;
    font-weight: bold;
}
.conteiner-datelle #volver{
    background-color: rgb(34, 149, 26);
    border: none;
    border-radius: 0.5rem;
    width: 10rem;
    height: 2rem;
    cursor: pointer;
}
.conteiner-datelle #volver:hover{
    background-color: rgb(28, 115, 20);
}
.conteiner-datelle #volver:active{
    background-color: rgb(20, 85, 15);
    transform: scale(0.95);
}