.nav {
    background: linear-gradient(90deg, rgb(11, 6, 122)0%,rgb(73, 187, 172)100%,rgba(0,212,2551,1)100%); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
}
.nav .img-title .contro-comercial-conteiner{
    font-size: 1rem;
    text-align: center;

}
.nav .img-title #titulo-ecommerse {
    color: #ffffff;
    margin: 0;
    font-size: 0.5rem;
}
.nav ul{
    display: flex;
    gap: 200px;
    padding: 0;
}

nav ul li{
    list-style: none;
}

nav ul li a {
    font-weight: 500;
    font-family: inherit;
    color: #000000;
    text-decoration:none;
    cursor: pointer;
}
nav ul li a:hover {
    color: #5b61b2;
}

