.img-carro {
    display: flex;
    justify-content: baseline;
    align-items: baseline;
}

.img-carro img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin-right: 10px;
}
.img-carro p{
    position: absolute;
    top: 3rem;
    right: 6rem;
    background-color: #ff0000; /* Color de fondo */
    color: white; /* Color del texto */
    border-radius: 50%;
    padding: 1.2px 5px;
    font-size: 14px;
    font-weight: bold;
    transform: translate(50%, -50%); /* Centrar el texto */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Sombra para el texto */
}